

.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared  styles */
.btn{
    background-color: #FD6E0A;
    width: 150px;
    height: 54px;
    color:white;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

span{
    color: #FD6E0A;
}


/* header */

.header{
    margin: 0 autu;
    width: 100vw;
    background-image: url('../images/developer.png'), url('../images//header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-size: 70px 580px, 600px 288px;
    /* border: 1px solid black; */
 
}
/* nav section styles */
nav{
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}

nav h1{
    font-size: 45px;
    font-weight: 800;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

/* banner style */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 150px;
}

.banner-content{
    width: 585px;
}

.banner-content .greeting{
    color: #474747;
    font-weight: 600;
}
.banner-content .name{
    font-weight: bold;
    font-size: 50px;
    color:black
}
.banner-content .banner-decription{
    color: #757575;
    font-size: 15px;
}
.banner-content .banner-btn{
    margin: 30px 0;
}

.banner-content .banner-btn button{
    font-size: 14px;
    margin-right: 20px;
}
.banner-content .banner-btn .contact-btn{
     background: none;
     border: 1px solid #FD6E0A;
     color: #FD6E0A;
}

/* about style */

.about{
    background-color: #FFF8F3;
    width: 1000px;
    height: 400px;
    margin: 150px auto 100px auto;
}

.about .about-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
.about .about-info .about-description{
    color: #757575;
    font-size: 15px;
    text-align:center;
    /* text-align: center; */
    margin-bottom: 60px;
}

.about .about-info .about-heading{
    /* text-align: center; */
    font-weight: bold;
}
.about .about-info .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about .about-info .contact p{
    text-align: center;
}
.about .about-info .contact .label{
    color: #757575;
    font-size: 14px;
}

.about .about-info .contact strong{
    font-size: 14px;
    color: #757575;
}


/* skill styles */

.skills{
    width:1000px;
    margin: 0 auto 100px auto;
}
.skills .skill-heading{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
}
.skills .skill-description{
    font-size: 14px;
    color: #757575;
    text-align: center;
    margin-bottom: 60px;
}
.skill-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}

.skill-cards .card{
    padding: 30px;
    width: 267px;
    height: 300px;
    /* border: 1px solid #474747; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.skill-cards .card .skill-name{
    font-size: 20px;
}
.skill-cards .card .experience{
    font-size: 16px;
    color:#757575;
    text-align: left;
}

/* resume section styles */

.resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width:1000px;
    margin: 0 auto 113px auto;
}

.resume .resume-intro{
    font-size: 35px;
    font-weight: bold;
}
.resume .resume-card{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 71px;
}

.resume .resume-card .intro{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}


.resume .resume-card .my-educations .education .degree{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: -40px;
    
}
.resume .resume-card .my-educations .education .institution{
    font-size:20px;
    font-weight: 600;
    color: #757575;
}
.resume .resume-card .my-experiences .experience .position{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: -40px;
}
.resume .resume-card .my-experiences .experience  .company{
    font-size:20px;
    font-weight: 600;
    color: #757575;
}


.resume .resume-card .my-educations .education .education-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
}

.resume .resume-card .my-experiences .experience  .experience-description{
    color: #757575;
    font-size: 16px;
    font-weight: normal;
}

.resume-btn{
    font-size: 14px;
}


/* contact section styles */

footer{
    background-color: #FFF8F3;
}

.contact-me{
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap:200px;
}

.contact-me .social-links{
    width: 50%;
}

.contact-me .contact-form {
    width: 50%;
}
input[type="text"], input[type="email"]{
    width:350px;
    padding: 20px;
    border: none;
    color: #474747;
    margin-bottom: 10px;
}

textarea{
    width: 350px;
    padding: 20px;
    border: none;
    margin-bottom: 20px;
}
.submit{
    font-size: 16px;
}
.contact-me .social-links .contact-intro{
    font-size: 35px;
    font-weight: bold;
}

.contact-me .social-links .contact-description{
    font-size: 16px;
    color: #474747;
    text-align: left;
    margin: 40px 0;
}
.contact-me .social-links .links a {
    margin-right: 20px;
}
.contact-me .contact-form .form-heading{
    font-size: 35px;
    font-weight: bold;
}